@page
@model OneDotLearnWebApp.Pages.Courses.DetailsModel
@{
    ViewData["Title"] = "تفاصيل دورة";
}
<div class="text-center">
    <h1 class="display-4">تفاصيل دورة</h1>
</div>
<br />
<div>
    <img src="~/Images/Prompt Engineering.jpeg" />
    <div>
        مدخل إلى هندسة التلقين
    </div>
</div>
<br />
<div>
    <a href="/Trainees/Registration">أنشيء حسابا</a>
</div>