@page
@model OneDotLearnWebApp.Pages.Courses.IndexModel
@{
    ViewData["Title"] = "الدورات";
}

<div class="text-center">
    <h1 class="display-4">قائمة الدورات</h1>
</div>
<br />
<div>
    <a href="/Courses/Details">
        <img src="./Images/Prompt Engineering.jpeg" />
        <div>
            مدخل إلى هندسة التلقين
        </div>
    </a>
</div>
