@page
@model IndexModel
@{
    ViewData["Title"] = "الصفحة الرئيسة";
}

<div class="text-center">
    <h3 class="display-4">مرحبا بكم</h3>
    <br />في<br />
    <p><h1>شركة أول المستقبل للتدريب</h1></p>
    <p>
        <h2>المعذرة موقعنا حاليا قيد التحديث وسيعمل قريبا إن شاء الله</h2>
    </p>
    <br />
    <br />
    <p style="background-color:antiquewhite">
        <br/>
        نحن نساعدكم اليوم لتتعلموا علوم وتقنيات الغد
        <br />
        <br />
    </p>
    <p style="background-color:aqua">
        <br />
        معنا ستتعرفون على أحدث تقنيات المستقبل بعمق وتصلون إلى أعلى مستويات الإتقان والاحتراف
        <br />
        <br />
    </p>
    <p style="background-color:burlywood">
        <br />
    نحن نقدم دورات وورش عمل في مجالات متعددة. ونحاول قدر الإمكان أن تكون جميع الدورات مناسبة للمتخصصين وغير المتخصصين، وتناسب الخبراء والمبتدئين.
    <br />
        كما يمكننا تجهيز دورات وورش خاصة وفقا لرغباتكم.
        <br />
        <br />
    </p>
    <p style="color:white; background-color:blue">
        <br />
        لكي تتمكن  من حضور دوراتنا قم من فضلك بإنشاء 
        <a class="nav-link text-bg-light" asp-page="/Trainees/Registration">حساب جديد</a>.
        <br/>
        وبالإضافة إلى حضور الدورات الموجودة بالإمكان بعد إنشاء الحساب اقتراح أي دورات أخرى غير المعروضة في الموقع.
        <br />
        <br />
    </p>
    <p style="background-color:aliceblue">
        <br />
        معلومات الاتصال وروابط الوسائط الاجتماعية وسياسة الخصوصية
        <br />
    </p>
</div>