@page
@model OneDotLearnWebApp.Pages.SupportModel
@{
}

<div class="text-center"><h3>مرحبا بكم</h3></div>
<br />
<br />
<font size="15">في هذه الصفحة يجد الزوار معلومات تعينهم على تجاوز أي صعوبة تواجههم في التعامل مع خدماتنا </font>
